

    #datetime-picker {
      padding: 8px;
      margin-bottom: 16px;
    }

    button {
      padding: 10px;
      background-color: #636963;
      color: white;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #aab0ab;
    }

    button:disabled {
      cursor: not-allowed;
      background-color: #bebdb2;
      color: #000;
    }

    .timer {
      display: flex;
    }

    .field {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0 10px;
    }

    .value {
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }

    .label {
      font-size: 13px;
      color: #777;
      text-transform: uppercase;
    }